# VSCode files
**/.vs/
**/.vscode/

# Personnal / WSL files
**/~$
**desktop.ini
**Zone.Identifier

# LaTeX files
**.aux
**.fdb_latexmk
**.fls
**.log
**.out
**.synctex.gz
**.toc
**.nav
**.snm
**.vrb

# Linux trash
.Trash-*

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
